@import '../two-columns/two-columns.css';
@import '../two-columns/__brief/two-columns__brief.css';
@import '../two-columns/__main-text/two-columns__main-text.css';
@import '../two-columns/__paragraph/two-columns__paragraph.css';
@import '../two-columns/__span-accent/two-columns__span-accent.css';



.description {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0 100px 0;

}
