@import './__author/khan__author.css';
@import './__title/khan__title.css';
@import './__quote/khan__quote.css';
@import './__author/khan__author.css';
@import './__quote-author/khan__quote-author.css';
@import './__quote-author-subline/khan__quote-author-subline.css';
@import './__buy-link/khan__buy-link.css';
@import '../khan-book-container/khan-book-container.css';
@import '../khan-book-container/__book-pic/khan__book-pic.css';


.khan {
  box-sizing: border-box;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 105px;

}
