@import './__title/feynman__title.css';
@import './__subtitle/feynman__subtitle.css';
@import './__link/feynman__link.css';
@import './__img/feynman__img.css';



.feynman {
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
  z-index: 10;

}
