@import '../logo/logo.css';
@import '../logo/_place/logo_place_header.css';
@import './__title/header__title.css';
@import './__subtitle/header__subtitle.css';
@import './__link/header__link.css';
@import './__main-illustration/header__main-illustration.css';
@import './__square-pic/header__square-pic.css';
@import '../rotation/rotation.css';


.header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;


  /* выше установили ограничения для секции */
}
