@import '../two-columns/two-columns.css';
@import '../two-columns/__brief/two-columns__brief.css';
@import '../two-columns/__main-text/two-columns__main-text.css';
@import '../two-columns/__paragraph/two-columns__paragraph.css';

.oakley {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 160px 0 100px 0;
}
