.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


/* ========================== Header ========================== */
.header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;

  /* выше установили ограничения для секции */
}
.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 9;
}

.logo {

  width: 228px;
  height: 32px;
}



.header__title {
  position: absolute;
  left: 64px;
  bottom: 255px;
  margin: 0;
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 20;

}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  margin:0;
  z-index: 20;



}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__link:hover {
  color: #09356d;
}
.header__link:active {
  color: #2f80ed;

}

.header__main-illustration  {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 11;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 9;
  height: 568px;
  width: 568px;
  background: rgb(3, 109, 248);
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
/* ================================== description ========================== */
.description {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0 100px 0;

}

.description__columns {
  display: flex;
  justify-content: space-between;
  width: 80%;



}
.description__columns-brief {
  max-width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;

}

.description__columns-main-text {
  min-width: 784px;
  width: 80%;

}

.description__columns-paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin:0;

}

.description__columns-paragraph-gap {
  padding: 30px 0 30px 0;
}

.description__columns-span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}
/* ============================ digits ================================= */
.digits {
  margin: 100px 0 100px 0;

}

.digits__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  margin:0;

}

.digits__subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  margin:0;
  margin-top: 20px;
}

.table {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;

}

.digits__table-cell {
  list-style-type: none;
  margin-top: 60px;
  text-align: center;
  width: 250px;
}

.digits__table-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin:0;

}

.digits__table-text {
  margin:0;
  margin-top: 20px;

}

.digits__table-text-margin {
  margin-top: 20px;
}



/* =================================== feynman =============================== */
.feynman {
  position: relative;
  height: 890px;

}

.feynman__title {
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
  max-width: 648px;
}

.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  z-index: 10;
}

.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;

}
.feynman__link:hover {
  color:#09356d;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* ============================= kaufman ==================================== */
.kaufman {
  position: relative;
  background-color: black;
  overflow: hidden;
  color: #f1f1f1;
}

.kaufman__title {
  position: relative;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin:0 auto;
  margin-top: 90px;
  width: 60%;
  z-index: 10;


}

.kaufman__subtitle {
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  text-align: center;
  margin:0 auto;
  margin-top: 20px;



}
.kaufman__table {
  position: relative;
z-index: 11;

}

.kaufman__table-cell {
  list-style-type: none;
  width: 200px;
  margin-bottom: 90px;
}

.kaufman__table-text {
  margin:0;
  margin-top: 20px;
}

.kaufman__table-heading {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin:0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -212px;
  width: 870px;
  height: 870px;




}

 /* ================================= footer =================================== */
.footer {
  padding: 60px 0 40px 0;
  background-color: black;
  color: #f1f1f1;

}

.footer__columns {
  min-height: 350px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;


}


.footer__columns-content-copyright {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

  flex-basis: 711px;
}


/* .footer__column_info {
  display: flex;
  flex-direction: column;
} */

.footer__column-links {
  display: flex;
  flex-direction: column;
padding: 20px 0 16px 0;

}

.column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  color: #f1f1f1;

}
.column-link:hover {
  color: #aba6a6;

}


.footer__column {
  display: flex;
  flex-direction: column;
}




.footer__columns-author {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin:  18px 0 18px 0;

}

.footer__columns-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.footer__social-icon {
  margin-right: 10px;
}
